.navbar-nav {
  width: 100%;
  max-width: 73rem;
  justify-content: space-between;
}

.menu {
  &-item {
    display: flex;
    align-items: center;

    & a:link,
    & a:visited {
      display: flex;
      height: 100%;
      align-items: center;
      transition: var(--transition);

      &:hover:not(.menu__popup-toggle a) {
        transform: translateY(-1.5rem);
      }
    }
  }

  &__logo {
    & img {
      width: 7rem;
      height: auto;
      display: block;
    }
  }
}
