.mobile-sidepanel {
  flex-flow: column nowrap;
  position: fixed;
  top: 0px;
  right: 0px;
  width: calc(100vw + 1px);
  height: calc(100vh + 1px);
  padding: var(--paddingTop) 0 0 0;
  z-index: 999;
  transition: all 0.66s ease-out;
  transform: translateX(100%);

  background: $cPrimary;

  & * {
    color: $cSecondary;
  }

  &.show {
    transform: translateX(0%);
  }

  &,
  &:not(.show) {
    display: flex;
  }

  & > .container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  & .mobile-nav {
    width: 100%;
    padding: 7rem;
    display: flex;
    flex: 1 1 auto;
  }

  & .mobile-nav__menu {
    align-items: center;
  }
}
