.navbar-toggler {
  background: none;
  border: none;
  color: var(--secondary);
  margin-left: auto;

  & i {
    font-size: 2rem;
  }

  &--mobile {
    align-self: flex-end;
  }

  & * {
    pointer-events: none;
  }
}
