.slide {
  max-width: 36rem;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-flow: column;

  & * {
    font-size: var(--fPoppins);
    color: var(--secondary);
    margin-bottom: 0;
  }

  &__heading {
    font-size: 3.5rem;
    line-height: 5.3rem;
  }

  &__content {
    margin-top: 1.7rem;
    font-size: 1.7rem;
    line-height: 3rem;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 13.2rem;
    min-height: 4.2rem;
    margin-top: 2.8rem;
    font-size: 1.8rem;
    border: 1px solid var(--maroon);
    transition: var(--transition);

    &:link,
    &:visited {
      text-decoration: none;
      color: var(--secondary);
    }

    &:hover {
      font-size: 1.3rem;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    & * {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
