.section {
  &__heading {
    font-family: var(--fLato);
    color: var(--maroon);
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 3rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.7rem;
    line-height: 3rem;
  }
}
